.body2 {
    width: 822px;
    box-sizing: border-box;
    height: auto;
    margin: 0 auto;
    padding: 14px 16px;
    background: #383737;
    color: #CCCCCC;
    border-left: 5px #686767 solid;
}

.body2 p {
    font-size: 16px;
    line-height: 30px;
    font-weight: bolder;
}

.body2-p {
    margin: 20px 0;
}

.img {
    width: 822px;
    height: 306px;
    display: flex;
    margin: 20px auto;
}

.img img {
    width: 274px;
}

.label {
    width: 822px;
    height: auto;
    margin: 0px auto;
}

.label p {
    font-size: 17px;
    color: white;
    font-weight: bold;
}

.label-ul {
    width: 100%;
    height: 259px;
    margin: 20px 0;
    border-top: 1px solid #5E5C5C;
    border-left: 1px solid #5E5C5C;
}

.label-ul ul {
    display: flex;
    justify-content: space-around;
}

.label-ul ul:nth-child(2n-1) {
    background: #383737;
}

.label-ul ul li {
    width: 205px;
    height: 43px;
    box-sizing: border-box;
    line-height: 40px;
    color: white;
    font-size: 17px;
    text-align: center;
    border-right: 1px solid #5E5C5C;
    border-bottom: 1px solid #5E5C5C;
}


@media (max-width:1555px) {
    .body2 {
        width: 678px;
    }

    .img {
        width: 678px;
        height: 258px;
    }

    .label {
        width: 678px;
    }

    .img img {
        width: 226px;
    }
}

@media (max-width:1210px) {
    .body2 {
        width: 622px;
    }

    .img {
        width: 622px;
        height: 234px;
    }

    .label {
        width: 622px;
    }

    .img img {
        width: 207px;
    }
}

@media (max-width:584px) {
    .body2 {
        width: 100%;
    }

    .img {
        width: 100%;
        height: 175px;
    }

    .label {
        width: 100%;
    }

    .img img {
        width: 33.3%;
    }
}