body {
    background: #F8F1E4;
}

header {
    background: #E7E1D4;
}

header h1 {
    color: black;
}

header p {
    color: black;
}

.menu {
    background: #FFF8EB;
}

.menu ul li:hover {
    background: #F8F1E4;
}

.menu ul li a {
    color: #333333;
}

.menu ul li a:hover {
    color: #333333;
}

.menu-input {
    background: #F8F1E4;
}

.menu-bottom {
    background: #F8F1E4;
}


.menu-div2 {
    border: 8px #F8F1E4 solid;
    background: #FFF8EB;
}

.menu-div2 ul li {
    border-bottom: 1px solid #F8F1E4;
}

.menu-div2 ul li:hover {
    background: #F8F1E4;
    cursor: default;
}

nav {
    background-color: rgba(248, 241, 228, 0.7);
    backdrop-filter: blur(20px);
    border-bottom: none;
}

.nav ul h3 a {
    color: black;
}

.nav ul li a {
    color: black;
}

.nav ul li a:hover {
    color: #3B3A39;
}

.nav ul li a:hover .arrow-bottom {
    border-top: 5px solid #3B3A39;
}

.arrow-bottom {
    border-top: 5px solid black;
}

.arrow-top {
    border-bottom: 8px solid #F0F0F0;
}

.nav-ul-div {
    background: #FFF8EB;
}

.nav-ul-div p {
    color: black;
}

.nav-ul-div a:hover p {
    background: #F8F9FA;
}


.nav-div2 {
    border: 8px #F8F1E4 solid;
    background: #FFF8EB;
}

.nav-div2 ul li {
    border-bottom: 1px solid #F8F1E4;
}

.nav-div2-num {
    background: #F8F1E4;
}

.nav-div2 ul li a.nav-div2-span1 {
    color: white;
    font-size: 12px;
}

.nav-div2 ul li a.nav-div2-span2 {
    font-size: 16px;
}

.nav-div2 ul li a.nav-div2-small {
    color: #A4A4A4;
}

.nav-div2 ul li a.nav-div2-big {
    color: black;
}


.body h2 {
    color: black;
}

.body ul li a {
    border-bottom: 1px dashed #EEEEEE;
}

.comment-input {
    background-color: #F8F1E4;
    border: 2px solid #D6D0C2;
}

.comment-inputs input {
    background-color: #F8F1E4;
    border: 2px solid #D6D0C2;
}

.OwO {
    border: 2px solid #D6D0C2;
}

.comment-label {
    color: #7C7C7C;
}

footer p {
    color: black;
}

.body1 h2 {
    color: black;
}

.body1 ul li a {
    font-size: 15px;
    color: black;
}

.body1 ul li span {
    color: #626160;
    margin-right: 16px;
}

.body1 ul li:hover {
    background: #EEEEEE;
}

.body p {
    color: black;
}

.body2 {
    background: #F8F1E4;
    color: #686868;
    border-left: #DDDDDD 5px solid;
}

.label p {
    color: black;
}

.label-ul {
    border-top: 1px solid #D6D0C1;
    border-left: 1px solid #D6D0C1;
}

.label-ul ul li {
    color: black;
    border-right: 1px solid #D6D0C1;
    border-bottom: 1px solid #D6D0C1;
}

.label-ul ul:nth-child(2n-1) {
    background: #E7E0D3;
}

.title p {
    color: black;
}

.uptop {
    background: #F9F2E7;
}

.page-btn1 {
    background: white;
    color: black;
    border: #333333 1px solid;
}

.page-btn1:hover {
    background: #333333;
    color: white;
}

.page-btn2 {
    background: white;
    color: black;
    border: #333333 1px solid;
}

.page-btn2:hover {
    background: #333333;
    color: white;
}

.menu-btn{
    background-color: rgba(255, 255, 255, 0.7);
    color: #6E338F;
    border: 1px solid #333333;
}

.menu-btn:hover{
    background-color: #333333;
    color: white;
    transition: 500ms;
}

.menu-ul-div {
    background: #E7E0D3;
}

.menu-ul-div p {
    color: black;
    background: #FFFFFF;
}

.menu-ul-div a:hover p {
    background: #FFFFFF;
}

